 body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: medium;  
  margin: 0;
  padding: 0;
 }
 
 div, span {
    border: 2px solid black;
    box-sizing: border-box;
     
}

div > .id:first-child{
    background-color: yellow;
    display: flex;
   justify-content: left;
}

div > div:nth-child(2){
     text-align:right;
     display: flex;
    justify-content: flex-end;

}

span.class{
    font-style: italic;
}


div.class{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
  justify-content: space-between;
}

div.class > div.id {
  background-color: yellow;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

div.class > #class {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#H {
  width: 33.333%;
  margin: 0 auto;  
  display: flex;
  justify-content: flex-end;  
  align-items: center;
  padding: 10px;

}


 